<launch>
  <!-- Load Kondo B3M parameters -->
  <rosparam file="$(find stm_motor_controller)/config/driver_sample.yaml" command="load" ns="stm_motor_controller"/>
  <!-- Start ICS driver -->
  <node name="stm_motor_controller" pkg="stm_motor_controller" type="stm_motor_controller" args="fake:=true joint_0_driver" output="screen" />
  <!-- Load URDF model -->
  <param name="robot_description" command="cat $(find stm_motor_controller)/urdf/sample.urdf" />
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find stm_motor_controller)/config/controller_sample.yaml" command="load"/>
  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--shutdown-timeout 0.1 joint_state_controller joint_0_controller"/>
  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

</launch>
